@media screen and (max-width:1000px){
    nav ul li  {
       display: none;
    }
    .search input{
        width: 25vw;
    }
    .dropdown{
        display:inline-block;
       }
       .my-1{font-size: 15px;}
}

@media screen and (max-width:500px){
    .btn img{
        display: none;
    }
    .dropdown{
        display:inline-block;
       }
}
@media screen and (max-width:450px){
    .search input{
        display: none;
    }
    .menu{
        display:block;
    }
    .dropdown{
        display:inline-block;
       }
}
@media screen and (max-width:400px){
  nav{
      background-color:var(--main-bg-color);
  }
  .my-2{
font-size: 8px;
  }
   .dropdown{
   display:inline-block;
  }
}
